.add-recipe{background-color:#0025082b;}
.form-control{text-align: center; border-color: darkgrey}
.form-control:focus, .form-control:hover {border-color: darkgreen;}
.form-check:hover{color:black; font-size: large;}
.add-recipe{max-width: 200px; border: 1px solid darkgreen; padding: 20px; border-radius: 10px; box-shadow: 0 0 10px;}