.calculate-volume-header {background-color:#8080802b;     font-weight: lighter}
.calculate-volume{background-color: #00250808;}
.title{text-decoration: underline; margin-bottom: 20px ;}
.volume{max-width: 50px}
.same-line {display: inline-block ; margin-bottom: 1em;}
#calculate-volume-output{background-color: #00250808;}
#calculate-volume-output:hover{border-color: grey;}