.jumbotron-image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url(https://static01.nyt.com/images/2019/02/04/dining/ch-pasta-with-scallops-tomatoes-and-herbs/merlin_149536239_0aa05c95-efc8-4938-a0d4-77cea46458b6-superJumbo.jpg);
  
  }