.btn{border-color: grey; color: rgb(175, 175, 175)}
.btn:hover{border-color: darkgreen; background-color: rgb(155, 155, 155);}
.category-menu{border: 1px solid darkgreen;}
.navbar a:hover{color: rgb(255, 255, 255);}
.navbar a{color:rgb(175, 175, 175);}
.dropdown-menu a:hover{color: black; text-decoration: none;}